@import "../../styles/vars.scss";

.search-form {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;

    &:hover {
        border: 1px solid gray;
    }


    &__input {
        width: 92%;
        height: 100%;
        padding-left: 10px;
        border-radius: 5px;
        font-size: $font-size;
    }

    &__submit {
        width: 20px;
        height: 100%;
        background: transparent;

        .submit-icon {
            width: 100%;
        }
    }
}