@import "../../styles/vars.scss";

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: $max-width;
    margin: 0 auto;
    height: 100%;

    .nav-main {
        min-width: 80%;
        flex-basis: 80%;
        display: flex;
        align-items: center; 
        height: 100%;

        &__logo {
            background-color: white;
            height: 30px;
            min-width: 30px;
            flex-basis: 30px;
            border-radius: 50%;
            color: black;
            font-weight: 800;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;

            &:hover {
                cursor: pointer ;
            }
        }

        &__search {
            
            height: 30px;
            flex-basis: 30%;
            min-width: 400px;
            margin-left: 10px;
        }

        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            margin-left: 50px;

            .nav-item {
                margin-left: 10px;
            }
            
        }
    }

    
    .nav-auth {
        min-width: 15%;
        flex-basis: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        height: 100%;
        border: 1px solid red;

        &__ava {
            margin-left: 10px;
        }

        &__login {
            margin-left: 10px;
        }
    }
}
